<html>
 <body>
   <form method="post">
     what's your fucking &lt;b&gt; birthday
     <br />
     <br />
     <label>Month
       <input type=text" name="month" id="" value="%(month)s" />
     </label>
     <label> Day
       <input type=text" name="day" id="" value="%(day)s" />
     </label> 
     <label>Year
       <input type=text" name="year" id="" value="%(year)s" />
     </label>
     <div style='color: red'>
       %(error)s
     </div>
     <br />
     <input type="submit" name="" id="" value="submit" />
   </form>
 </body>
</html>
